:root {
  --primary-color: hsl(216, 83%, 46%);
  --primary-dark: hsl(216, 85%, 29%);
  --primary-light: hsl(216, 64%, 57%);
  --secondary-color: hsl(281, 83%, 46%);
  --secondary-dark: #5d4037;
  --secondary-light: #8d6e63;
  --background-color: hsl(216, 19%, 7%);
  --text-color: #ffffff;
  --foreground-color: #000000;
  --background-color-container: rgba(19, 23, 29, 0.9);
  --primary-shade1: hsl(216, 83%, 36%);
  --primary-shade2: hsl(216, 83%, 56%);
  --primary-shade3: hsl(216, 83%, 66%);
  --primary-shade4: hsl(216, 83%, 96%);
  --secondary-shade1: #795548;
  --secondary-shade2: #8d6e63;
  --secondary-shade3: #baae9e;
  --secondary-shade4: #d7ccc8;
  --color-category:var(--primary-color);
  --color-action: #ff4439;
  --color-adventure: #ff8629;
  --color-animation: #ffd329;
  --color-comedy: #fffb29;
  --color-crime: #ceff2a;
  --color-documentary: #7bff3c;
  --color-drama: #38ff4e;
  --color-family: #38ffc5;
  --color-fantasy: #38d4ff;
  --color-history: #3894ff;
  --color-horror: #3838ff;
  --color-music: #8a38ff;
  --color-mystery: #d238ff;
  --color-romance: #ff38c8;
  --color-science-fiction: #ff389e;
  --color-tv-movie: #ff3a50;
  --color-thriller: #ff6a38;
  --color-war: #ffb638;
  --color-western: #ffd838;
  --color-28: var(--color-action);
  --color-12: var(--color-adventure);
  --color-16: var(--color-animation);
  --color-35: var(--color-comedy);
  --color-80: var(--color-crime);
  --color-99: var(--color-documentary);
  --color-18: var(--color-drama);
  --color-10751: var(--color-family);
  --color-14: var(--color-fantasy);
  --color-36: var(--color-history);
  --color-27: var(--color-horror);
  --color-10402: var(--color-music);
  --color-9648: var(--color-mystery);
  --color-10749: var(--color-romance);
  --color-878: var(--color-science-fiction);
  --color-10770: var(--color-tv-movie);
  --color-53: var(--color-thriller);
  --color-10752: var(--color-war);
  --color-37: var(--color-western);
  --max-width:600px;
  --spacing: 1rem;
  --gap: 0.5rem;
  --radius: 1.5rem;
  --radius2x:2.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: hsl(216, 57%, 98%);
    --text-color: #181818;
    --foreground-color: #FFF;
    --background-color-container: hsla(220, 60%, 98%, 0.9);
  }
}
html {
  margin: 0;
  padding: 0;
  /* background-color: var(--foreground-color); */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
  margin-bottom: 0.5em;
}

p {
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 0.5rem;
}

strong {
  font-weight: 600;
}

button {
  background-color: var(--primary-color);
  color: var(--primary-shade4);
  border: 0;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* CATEGORIES - COLORS */
.id28 {
  --color-category: var(--color-action);
}

.id12 {
  --color-category: var(--color-adventure);
}

.id16 {
  --color-category: var(--color-animation);
}

.id35 {
  --color-category: var(--color-comedy);
}

.id80 {
  --color-category: var(--color-crime);
}

.id99 {
  --color-category: var(--color-documentary);
}

.id18 {
  --color-category: var(--color-drama);
}

.id10751 {
  --color-category: var(--color-family);
}

.id14 {
  --color-category: var(--color-fantasy);
}

.id36 {
  --color-category: var(--color-history);
}

.id27 {
  --color-category: var(--color-horror);
}

.id10402 {
  --color-category: var(--color-music);
}

.id9648 {
  --color-category: var(--color-mystery);
}

.id10749 {
  --color-category: var(--color-romance);
}

.id878 {
  --color-category: var(--color-science-fiction);
}

.id10770 {
  --color-category: var(--color-tv-movie);
}

.id53 {
  --color-category: var(--color-thriller);
}

.id10752 {
  --color-category: var(--color-war);
}

.id37 {
  --color-category: var(--color-western);
}

@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./fonts/iconfont.eot");
  src: url("./fonts/iconfont.eot") format("embedded-opentype"), url("./fonts/iconfont.ttf") format("truetype"), url("./fonts/iconfont.woff") format("woff"), url("./fonts/iconfont.woff2") format("woff2"), url("./fonts/iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.i {
  font-family: "Iconify Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i.ic\:baseline-favorite:before {
  content: "\e001";
}

.i.ic\:baseline-search:before {
  content: "\e002";
}

.i.ic\:round-arrow-back-ios-new:before {
  content: "\e003";
}

/* HEADER */
.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-container--long {
  position: fixed;
  inset: 0;
  /* background: url("https://image.tmdb.org/t/p/w500/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  z-index: -1;
}
.header-container--long:after {
  content: "";
  position: absolute;
  inset: 0 0 auto 0;
  height: 200px;
  background-image: linear-gradient(var(--background-color), transparent);
}
.header-container--long .header-nav {
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50%;
  width: 100%;
  max-width: var(--max-width);
  z-index: 2;
}

.header-nav {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: var(--spacing);
}

.header-arrow {
  width: 36px;
  height: 48px;
  color: var(--primary-color);
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.header-arrow--white {
  color: var(--text-color);
}

.header-title {
  font-size: 2rem;
}

.header-title--categoryView {
  font-size: 1.6rem;
  margin: 0 var(--spacing);
  position: relative;
  color: var(--color-category, var(--text-color));
}

/* FORM */
.header-searchForm {
  display: flex;
  position: relative;
  margin: 0 var(--spacing);
}
.header-searchForm input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border: 1px solid var(--primary-shade1);
  background-color: transparent;
  border-radius: var(--radius);
  flex-grow: 1;
  padding: var(--gap) 52px;
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
}
.header-searchForm button {
  background-color: transparent;
  border: 0;
  padding: var(--gap) var(--spacing);
  position: absolute;
  inset: 0 0 0 auto;
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  color: var(--primary-color);
}

/* TRENDING */
.trendingPreview-container {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.trendingPreview-header {
  display: flex;
  align-items: center;
}

.trendingPreview-title {
  flex-grow: 1;
}

.trendingPreview-btn {
  flex-shrink: 0;
}

.trendingPreview-movieList, .likedMovies-list, .relatedMovies-list {
  display: flex;
  gap: var(--spacing);
  flex-wrap: no-wrap;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  white-space: nowrap;
  min-height: 300px;
  border-radius: var(--radius);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.trendingPreview-movieList::-webkit-scrollbar, .likedMovies-list::-webkit-scrollbar, .relatedMovies-list::-webkit-scrollbar {
  width: 0;
}
.trendingPreview-movieList::-webkit-scrollbar-track, .likedMovies-list::-webkit-scrollbar-track, .relatedMovies-list::-webkit-scrollbar-track {
  display: none;
}
.trendingPreview-movieList::-webkit-scrollbar-thumb, .likedMovies-list::-webkit-scrollbar-thumb, .relatedMovies-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* MOVIE CONTAINER */
.fav-btn {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  background-color: transparent;
  color: var(--primary-shade4);
  padding: 0;
}
.fav-btn:hover {
  color: var(--primary-shade2);
}
.fav-btn.fav-btn--favorited {
  color: var(--primary-shade3);
  font-size: 2rem;
}

.movie-container {
  width: 200px;
  flex-shrink: 0;
  scroll-snap-align: start;
  aspect-ratio: 3/4.5;
  border-radius: var(--radius);
  cursor: pointer;
  position: relative;
}
.movie-container .fav-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.loading {
  background-color: var(--primary-shade3);
  animation: loading-animation 1.5s infinite;
}
.loading:nth-child(2) {
  animation-delay: 0.3s;
}
.loading:nth-child(3) {
  animation-delay: 0.6s;
}
.loading:nth-child(4) {
  animation-delay: 0.9s;
}

@keyframes loading-animation {
  50% {
    background-color: var(--primary-shade4);
  }
}
.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  display: block;
  position: relative;
  border: 1px solid transparent;
}
.movie-img:hover {
  border-color: var(--color-category);
}
.movie-img:before {
  content: attr(alt);
  position: absolute;
  inset: 0;
  background-color: var(--primary-dark);
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: var(--spacing);
  color: var(--primary-shade4);
}

/* CATEGORIES */
.categoriespreview-container {
  padding: var(--spacing);
}

.categoriesPreview-title {
  font-size: 1.6rem;
  margin-bottom: var(--spacing);
}

.categoriesPreview-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.category-container {
  display: flex;
}

.category-title {
  position: relative;
  padding: var(--gap) var(--spacing);
  font-size: 1rem;
  z-index: 0;
  cursor: pointer;
}
.category-title:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-category, var(--text-color));
  border-radius: var(--radius);
  opacity: 0.2;
  z-index: -1;
}
.category-title:hover {
  color: var(--background-color);
}
.category-title:hover:after {
  opacity: 1;
}

/* GENERIC LIST */
.genericList-container {
  padding: var(--spacing);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  place-items: center;
  gap: var(--gap);
  position: relative;
  margin-top: var(--gap);
}
.genericList-container:before {
  content: "";
  position: absolute;
  inset: 0;
  border-top: 1px solid var(--color-category);
  opacity: 0.4;
  z-index: -1;
}
.genericList-container .movie-container {
  width: 180px;
}

/* MOVIE DETAIL */
.movieDetail-container {
  padding: var(--spacing);
  padding-bottom: var(--gap);
  margin-top: 400px;
  border-radius: var(--radius);
  background-color: var(--background-color-container);
  backdrop-filter: blur(10px);
}

.movieDetail-title {
  font-size: 2.3rem;
  padding-right: 5ch;
  margin-bottom: 0.5em;
}

.movieDetail-score {
  font-size: 2rem;
  position: absolute;
  right: var(--spacing);
  top: var(--spacing);
}

.movieDetail-description {
  font-size: 1rem;
}

/* RELATED */
.relatedMovies-contaner {
  padding-top: var(--spacing);
}

.relatedMovies-title {
  font-size: 1.3rem;
  margin-bottom: var(--spacing);
}

.relatedMovies-list {
  min-height: 260px;
}
.relatedMovies-list .movie-container {
  width: 150px;
}

/* LikedMovies */
.likedMovies-container {
  padding: var(--spacing);
}

.likedMovies-title {
  font-size: 1.3rem;
  margin-bottom: var(--spacing);
}

.likedMovies-list {
  min-height: 260px;
}
.likedMovies-list .movie-container {
  width: 150px;
}

/* footer */
footer {
  background-color: var(--foreground-color);
  padding: var(--gap) var(--spacing);
  display: grid;
  place-items: center;
  border-radius: var(--radius) var(--radius) 0 0;
  margin-top: var(--spacing);
}

.inactive {
  display: none;
  /* opacity: 0.8; */
}

/*# sourceMappingURL=app.css.map */
