/* CATEGORIES - COLORS */

.id28 {
	--color-category: var(--color-action);
}

.id12 {
	--color-category: var(--color-adventure);
}

.id16 {
	--color-category: var(--color-animation);
}

.id35 {
	--color-category: var(--color-comedy);
}

.id80 {
	--color-category: var(--color-crime);
}

.id99 {
	--color-category: var(--color-documentary);
}

.id18 {
	--color-category: var(--color-drama);
}

.id10751 {
	--color-category: var(--color-family);
}

.id14 {
	--color-category: var(--color-fantasy);
}

.id36 {
	--color-category: var(--color-history);
}

.id27 {
	--color-category: var(--color-horror);
}

.id10402 {
	--color-category: var(--color-music);
}

.id9648 {
	--color-category: var(--color-mystery);
}

.id10749 {
	--color-category: var(--color-romance);
}

.id878 {
	--color-category: var(--color-science-fiction);
}

.id10770 {
	--color-category: var(--color-tv-movie);
}

.id53 {
	--color-category: var(--color-thriller);
}

.id10752 {
	--color-category: var(--color-war);
}

.id37 {
	--color-category: var(--color-western);
}
